#more-button {
  border-style: none;
  background: none;
  margin: 0 0 10px 0;
  cursor: pointer;
}

#grow input:checked {
}

#more-button:hover {
}

.grow {
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  height: 0;
  overflow: hidden;
}