.more-button {
  border-style: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  place-items: center;
  margin-right: 10px;
}




.fa-arrow-circle-down{
  color: #658ec6;
  font-size: 32px;
  transition: 0.45s ease-in-out;
}

.fa-arrow-circle-down:checked{
  transform: rotate(180deg);
}

.grow input:checked {
}

.more-button:hover {
}

.grow {
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  height: 0;
  overflow: hidden;
}