*{
  margin: 0;
  padding: 0;
}
@media (min-width: 900px) { /* Size for mobile */
  html , body{
    font-size : 16px;
  }
}



body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
  transition: 0.3s ease-in-out;

}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}


@media (max-width: 900px) { /* Size for mobile */
  html , body{
    font-size : 12px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;

  }


  h3 {
    font-size: 1rem;

  }


  p {
    font-size: 0.75rem;


  }
}
